<ion-header>
  <ion-toolbar>
    <ion-title>Conectar Dispositivo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="scanForDevices()" [disabled]="isScanning || selectedDevice">
    {{ isScanning ? 'Buscando...' : 'Buscar Dispositivos' }}
  </ion-button>

  <ion-list *ngIf="devices.length > 0 && !selectedDevice">
    <ion-item *ngFor="let device of devices" (click)="connectToDevice(device)">
      <ion-label>{{ device.device.name || 'Dispositivo Sin Nombre' }}</ion-label>
      <ion-note slot="end">{{ device.device.deviceId }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedDevice">
    <ion-card-header>
      <ion-card-title>Dispositivo Conectado</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nombre: {{ selectedDevice.device.name || 'Dispositivo Sin Nombre' }}</p>
      <p>Fabricante: {{ manufacturer }}</p>
      <ion-button expand="block" (click)="read()">Leer Datos de Glucosa</ion-button>
      <ion-button expand="block" (click)="showResults()">Mostrar Resultados</ion-button>
      <ion-button expand="block" (click)="disconnect()">Desconectar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
