<div class="absolute left-0 right-0 top-1/2 -translate-y-1/2 text-center">
  <strong class="text-xl font-bold leading-relaxed">{{ name }}</strong>
  <p class="m-0 text-base leading-normal text-gray-500 dark:text-gray-400">
    {{ 'explore.explorePrefix' | translate }}
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://ionicframework.com/docs/components"
      class="text-primary no-underline hover:underline"
      >{{ 'explore.uiComponents' | translate }}</a
    >
  </p>
</div>
