<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="28"
        tools:ignore="GoogleAppIndexingWarning">
        <!-- This manifest is merged with the main AndroidManifest.xml
             Network security config allows cleartext traffic for localhost/10.0.2.2 in debug builds only -->
    </application>

</manifest>