.chart-container {
  height: 400px;
  margin: 20px 0;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.text-danger {
  color: var(--ion-color-danger);
}

.text-primary {
  color: var(--ion-color-primary);
}

.text-success {
  color: var(--ion-color-success);
}

ion-segment {
  margin: 16px 0;
  ion-segment-button {
    --color-checked: var(--ion-color-primary); // Color del texto seleccionado
    --indicator-color: var(--ion-color-primary); // Color de la línea inferior
    --color: var(--ion-color-medium); // Color del texto no seleccionado
    font-weight: bold;
    text-transform: none;
  }
}

.period-selector {
  --padding-start: 0;
  --padding-end: 0;
}

.period-dates {
  margin-top: 8px;
  margin-bottom: 16px;
}

:host {
  ion-fab {
      ion-fab-button.fab-button-in-list.ion-focusable.hydrated {
          --background: var(--ion-color-primary);
          --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          --color: white;
          transform: scale(1.1);
      }
  }
}