# CircleCI disabled - using GitLab CI or Azure DevOps instead
# See: .gitlab-ci.yml for GitLab CI
# See: azure-pipelines.yml for Azure DevOps
# See: render.yaml for Render deployment

version: 2.1
jobs:
  placeholder:
    docker:
      - image: cimg/base:current
    steps:
      - run: echo "CI moved to GitLab/Azure - see repo root for configs"

workflows:
  disabled:
    jobs: []
