<button
  [type]="type"
  [class]="buttonClasses"
  [disabled]="isDisabled"
  (click)="onClick($event)"
  [attr.aria-busy]="loading ? 'true' : null"
  [attr.aria-disabled]="isDisabled ? 'true' : null"
>
  <!-- Loading spinner -->
  <svg
    *ngIf="loading"
    class="h-4 w-4 animate-spin"
    [class.h-3]="size === 'sm'"
    [class.h-5]="size === 'lg'"
    [class.w-3]="size === 'sm'"
    [class.w-5]="size === 'lg'"
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
  >
    <circle
      class="opacity-25"
      cx="12"
      cy="12"
      r="10"
      stroke="currentColor"
      stroke-width="4"
    ></circle>
    <path
      class="opacity-75"
      fill="currentColor"
      d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
    ></path>
  </svg>

  <!-- Leading icon -->
  <ion-icon
    *ngIf="!loading && icon"
    [name]="icon"
    class="text-current"
    [class.text-sm]="size === 'sm'"
    [class.text-base]="size === 'md'"
    [class.text-lg]="size === 'lg'"
  ></ion-icon>

  <!-- Button content (slot) -->
  <span class="flex-1">
    <ng-content></ng-content>
  </span>

  <!-- Trailing icon -->
  <ion-icon
    *ngIf="!loading && iconTrailing"
    [name]="iconTrailing"
    class="text-current"
    [class.text-sm]="size === 'sm'"
    [class.text-base]="size === 'md'"
    [class.text-lg]="size === 'lg'"
  ></ion-icon>
</button>
