<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'appointments.create.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="mx-auto max-w-3xl">
    <form>
      <!-- Glucose Objective -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.glucose_objective' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="formData.glucose_objective"
          name="glucose_objective"
          placeholder="100"
          min="0"
          required
        >
          <div slot="end" class="text-sm text-gray-500">mg/dL</div>
        </ion-input>
      </ion-item>

      <!-- Insulin Type -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.insulin_type' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-select
          [(ngModel)]="formData.insulin_type"
          name="insulin_type"
          interface="popover"
          [placeholder]="'appointments.create.insulin_type' | translate"
          data-testid="insulin-type-selector"
        >
          <ion-select-option *ngFor="let type of insulinTypes" [value]="type.value">
            {{ type.label | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Dose -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.dose' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="formData.dose"
          name="dose"
          placeholder="0"
          min="0"
          step="0.1"
          required
        >
          <div slot="end" class="text-sm text-gray-500">U</div>
        </ion-input>
      </ion-item>

      <!-- Fast Insulin -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.fast_insulin' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="formData.fast_insulin"
          name="fast_insulin"
          [placeholder]="'appointments.create.fast_insulin' | translate"
          required
        ></ion-input>
      </ion-item>

      <!-- Fixed Dose -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.fixed_dose' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="formData.fixed_dose"
          name="fixed_dose"
          placeholder="0"
          min="0"
          step="0.1"
          required
        >
          <div slot="end" class="text-sm text-gray-500">U</div>
        </ion-input>
      </ion-item>

      <!-- Ratio -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.ratio' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="formData.ratio"
          name="ratio"
          placeholder="0"
          min="0"
          step="0.1"
          required
        ></ion-input>
      </ion-item>

      <!-- Sensitivity -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.sensitivity' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="number"
          [(ngModel)]="formData.sensitivity"
          name="sensitivity"
          placeholder="0"
          min="0"
          step="0.1"
          required
        ></ion-input>
      </ion-item>

      <!-- Pump Type -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.pump_type' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-select
          [(ngModel)]="formData.pump_type"
          name="pump_type"
          interface="popover"
          [placeholder]="'appointments.create.pump_type' | translate"
          data-testid="pump-type-selector"
        >
          <ion-select-option *ngFor="let type of pumpTypes" [value]="type.value">
            {{ type.label | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Control Data (PDF URL) -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.control_data' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="url"
          [(ngModel)]="formData.control_data"
          name="control_data"
          placeholder="https://example.com/glucose-data.pdf"
          required
        ></ion-input>
      </ion-item>

      <!-- Motive (Checkboxes) -->
      <div class="ion-padding-vertical">
        <ion-label class="ion-padding-start">
          {{ 'appointments.create.motive' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-list class="ion-margin-top">
          <ion-item *ngFor="let motive of motiveOptions">
            <ion-checkbox
              [checked]="isMotiveSelected(motive.value)"
              (ionChange)="onMotiveChange(motive.value, $event)"
              slot="start"
            ></ion-checkbox>
            <ion-label>{{ motive.label | translate }}</ion-label>
          </ion-item>
        </ion-list>
      </div>

      <!-- Other Motive (conditional) -->
      <ion-item *ngIf="showOtherMotive">
        <ion-label position="stacked">
          {{ 'appointments.create.other_motive' | translate }}
          <span class="text-red-500">*</span>
        </ion-label>
        <ion-input
          type="text"
          [(ngModel)]="formData.other_motive"
          name="other_motive"
          [placeholder]="'appointments.create.other_motive' | translate"
        ></ion-input>
      </ion-item>

      <!-- Another Treatment (optional) -->
      <ion-item>
        <ion-label position="stacked">
          {{ 'appointments.create.another_treatment' | translate }}
        </ion-label>
        <ion-textarea
          [(ngModel)]="formData.another_treatment"
          name="another_treatment"
          [placeholder]="'appointments.create.another_treatment' | translate"
          rows="3"
        ></ion-textarea>
      </ion-item>

      <!-- Buttons -->
      <div class="ion-padding-top">
        <ion-button
          expand="block"
          (click)="submitAppointment()"
          [disabled]="isLoading"
          color="primary"
          data-testid="appointment-submit-btn"
        >
          <ion-icon name="checkmark-circle" slot="start"></ion-icon>
          {{ 'appointments.create.submit' | translate }}
        </ion-button>

        <ion-button
          expand="block"
          (click)="cancel()"
          [disabled]="isLoading"
          fill="outline"
          color="medium"
          data-testid="appointment-cancel-btn"
        >
          <ion-icon name="close-circle" slot="start"></ion-icon>
          {{ 'common.cancel' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
