// reading-item.component.scss
// Most styling migrated to Tailwind classes in the template
// Keeping only Ionic-specific CSS variables

.reading-item {
  // Ionic CSS variables to reset ion-item styling
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-end: 0;
  margin-bottom: 12px;
}
