// reading-item.component.scss
// Most styling migrated to Tailwind classes in the template
// Keeping only Ionic-specific CSS variables

ion-item-sliding {
  overflow: visible;
}

ion-item.reading-item-wrapper {
  --background: transparent;
  --padding-start: 0;
  --padding-end: 0;
  --inner-padding-start: 0;
  --inner-padding-end: 0;
  --inner-border-width: 0;
  --border-width: 0;
  --min-height: 0;
}

.reading-item {
  margin-bottom: 0;
}
