.profile-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--ion-color-light);
  background-color: var(--ion-color-primary);
  padding: 1.5rem;
}

.avatar-container {
  position: relative;
  margin-bottom: 1rem;
}

.avatar-wrapper {
  border-radius: 50%;
  padding: 4px;
  background: rgb(255 255 255 / 20%);
}

.hero-avatar {
  width: 96px;
  height: 96px;
}

.avatar-fallback {
  width: 100%;
  height: 100%;
}

.change-photo-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
