.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
    .logo {
      max-width: 200px;
      margin-bottom: 20px;
    }
  
    h1 {
      font-size: 2em;
      color: #3880ff;
      margin-bottom: 10px;
      text-align: center;
    }
  
    p {
      font-size: 1.2em;
      color: #222;
      margin-bottom: 30px;
      text-align: center;
      padding: 0 20px;
    }
  
    ion-button {
      --border-radius: 20px;
      --background: #3880ff;
      --background-activated: #4c8dff;
      --background-focused: #5a99ff;
      --background-hover: #4c8dff;
    }
  }
  