:host {
  display: block;
}

.readings-list-container {
  width: 100%;
  padding-bottom: calc(5rem + env(safe-area-inset-bottom, 0px));
}

@media (width >= 1024px) {
  .readings-list-container {
    max-width: 960px;
  }
}
