ion-header {
  ion-toolbar {
    --padding-start: 16px;
    --padding-end: 16px;
  }
}

ion-content {
  --padding-bottom: 20px;

  ion-list {
    margin-bottom: 20px;
  }

  ion-item {
    --padding-start: 0;
    --padding-end: 0;

    margin: 12px 0;

    ion-button {
      --padding-start: 16px;
      --padding-end: 16px;
      --margin-start: 0;
      --margin-end: 0;

      text-transform: none;
      font-weight: 600;

      ion-icon {
        margin-right: 8px;
      }
    }
  }

  ion-item-divider {
    --padding-start: 0;
    --padding-end: 0;

    margin-top: 24px;
    margin-bottom: 12px;
    border-bottom: 1px solid var(--ion-border-color);

    ion-label {
      font-weight: 600;
      color: var(--ion-color-step-400);
      text-transform: uppercase;
      font-size: 12px;
    }
  }

  ion-select {
    --padding-start: 0;
    --padding-end: 0;
  }
}

.sign-out-button {
  margin: 16px 0 8px;
}

.clear-data-button {
  margin: 8px 0 16px;
}
