name: Android CI/CD Pipeline
on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x]
        java-version: [17]
        android-api-level: [30]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: |
            npm install
            npm install -g @ionic/cli

      - name: Run lint
        run: npm run lint

      - name: Run tests
        run: npm test

      - name: Cache Gradle files
        uses: actions/cache@v3
        with:
          path: |
            ~/android/.gradle/caches
            ~/android/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.android-api-level }}

      - name: Set up JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: ${{ matrix.java-version }}

#      - name: Setup Android SDK
#        uses: android-actions/setup-android@v2
#
#      - name: Install Android SDK components
#        run: |
#          sdkmanager "platforms;android-${{ matrix.android-api-level }}" "build-tools;33.0.0"
#          sdkmanager --licenses

      - name: Build Android App
        env:
          SDK_ROOT: ${{ env.ANDROID_SDK_ROOT }}
        run: |
          npm run build
          npx cap sync android
          cd android
          ./gradlew assembleRelease

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Instrumentations tests(create AVD and generate snapshot for caching)
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.android-api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - name: Run instrumentations tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.android-api-level }}
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: cd android && ./gradlew connectedCheck

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: app-release-${{ matrix.android-api-level }}.apk
          path: android/app/build/outputs/apk/release/app-release-unsigned.apk

      - name: Create Release
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: ncipollo/release-action@v1
        with:
          artifacts: 'android/app/build/outputs/apk/release/diabetech.apk'
          token: ${{ secrets.GITHUB_TOKEN }}
          name: Release ${{ github.sha }}
          tag: ${{ github.sha }}
          draft: false
          prerelease: false
