<!-- Language Switcher Component Template -->

<!-- Button Mode -->
<ion-button
  *ngIf="displayMode === 'button'"
  [fill]="'clear'"
  [disabled]="isLoading"
  (click)="toggleLanguage()"
  class="language-btn"
>
  <ion-spinner *ngIf="isLoading" name="crescent" class="h-[18px] w-[18px]"></ion-spinner>
  <ng-container *ngIf="!isLoading">
    <span
      *ngIf="showIcon && currentLanguage"
      class="mr-2 inline-flex items-center align-middle text-xl"
    >
      {{ getFlagEmoji(currentLanguage.code) }}
    </span>
    <span *ngIf="showText" class="hidden inline-flex items-center sm:inline">
      {{ getDisplayText() }}
    </span>
  </ng-container>
</ion-button>

<!-- Select Mode -->
<ion-select
  *ngIf="displayMode === 'select'"
  [value]="currentLanguage?.code"
  [disabled]="isLoading"
  (ionChange)="onLanguageSelect($event)"
  interface="popover"
  placeholder="{{ 'settings.language.title' | translate }}"
  class="language-select min-w-[120px] sm:min-w-[80px]"
>
  <ion-select-option *ngFor="let lang of availableLanguages" [value]="lang.code">
    <span class="mr-2 inline-flex items-center align-middle text-xl">{{
      getFlagEmoji(lang.code)
    }}</span>
    {{ showNativeName ? lang.nativeName : lang.name }}
  </ion-select-option>
</ion-select>

<!-- Popover Trigger Mode -->
<ion-button
  *ngIf="displayMode === 'popover'"
  [fill]="'clear'"
  [disabled]="isLoading"
  (click)="showLanguagePopover($event)"
  class="language-btn"
>
  <ion-spinner *ngIf="isLoading" name="crescent" class="h-[18px] w-[18px]"></ion-spinner>
  <ng-container *ngIf="!isLoading">
    <span
      *ngIf="showIcon && currentLanguage"
      class="mr-2 inline-flex items-center align-middle text-xl"
    >
      {{ getFlagEmoji(currentLanguage.code) }}
    </span>
    <span *ngIf="showText" class="hidden inline-flex items-center sm:inline">
      {{ getDisplayText() }}
    </span>
    <ion-icon name="chevron-down" slot="end"></ion-icon>
  </ng-container>
</ion-button>
