<!-- Language Switcher Component Template -->

<!-- Button Mode -->
@if (displayMode === 'button') {
  <ion-button
    [fill]="'clear'"
    [disabled]="isLoading"
    (click)="toggleLanguage()"
    class="language-btn inline-flex items-center gap-2"
    >
    @if (isLoading) {
      <app-icon name="loader" class="h-[18px] w-[18px] animate-spin"></app-icon>
    }
    @if (!isLoading) {
      @if (showIcon && currentLanguage) {
        <span
          class="mr-2 inline-flex items-center align-middle text-xl"
          >
          {{ getFlagEmoji(currentLanguage.code) }}
        </span>
      }
      @if (showText) {
        <span class="inline-flex hidden items-center sm:inline">
          {{ getDisplayText() }}
        </span>
      }
    }
  </ion-button>
}

<!-- Select Mode -->
@if (displayMode === 'select') {
  <ion-select
    [value]="currentLanguage?.code"
    [disabled]="isLoading"
    (ionChange)="onLanguageSelect($event)"
    interface="popover"
    placeholder="{{ 'settings.language.title' | translate }}"
    class="language-select min-w-[120px] sm:min-w-[80px]"
    >
    @for (lang of availableLanguages; track trackByLanguage($index, lang)) {
      <ion-select-option
        [value]="lang.code"
        >
        <span class="mr-2 inline-flex items-center align-middle text-xl">{{
          getFlagEmoji(lang.code)
        }}</span>
        {{ showNativeName ? lang.nativeName : lang.name }}
      </ion-select-option>
    }
  </ion-select>
}

<!-- Popover Trigger Mode -->
@if (displayMode === 'popover') {
  <ion-button
    [fill]="'clear'"
    [disabled]="isLoading"
    (click)="showLanguagePopover($event)"
    class="language-btn inline-flex items-center gap-2"
    >
    @if (isLoading) {
      <app-icon name="loader" class="h-[18px] w-[18px] animate-spin"></app-icon>
    }
    @if (!isLoading) {
      @if (showIcon && currentLanguage) {
        <span
          class="mr-2 inline-flex items-center align-middle text-xl"
          >
          {{ getFlagEmoji(currentLanguage.code) }}
        </span>
      }
      @if (showText) {
        <span class="inline-flex hidden items-center sm:inline">
          {{ getDisplayText() }}
        </span>
      }
      <app-icon name="chevron-down"></app-icon>
    }
  </ion-button>
}
